*{
    margin:0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    
}
body{
    background-image: url('./images/istockphoto-1419844586-612x612.jpg');
    background-size: cover;
}
.card .searchBar{
    border: 1px solid white;
    background: silver;
    width: 100%;
    height: 100px;
    border-radius: 10px;
    box-shadow: none;
    text-align: right;
    line-height: 100px;
    font-size: 60px;
    color: rgb(11, 0, 0);
    
    
}
.card{
    width: 90%;
    height: 800px;
    max-width: 470px;
    background:black;
    color:#fff;
    margin: 100px auto 0;
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;
    box-shadow: 13px 38px 40px  rgb(14, 15, 29);
    
}
    .powerButton{
        margin-left: 80%;
        background-color:transparent ;
        border-color: transparent;
        
        
    }
    .button {
        /* 	design the outer circle */
        width: 50px;
        height: 50px;
        border-radius: 50%;
        border: .33px solid #ddd;
        box-shadow: 0 0 1.7px 0px #888;
        position: relative;
        margin-left: auto;
        margin-top: 20px;
        
    
       
    
        /* 	required to center elements*/
        display: grid;
        place-items: center;
    }
    
    .button::before {
        /* 	pseudo-elements don't display if content property is not declared */
        content: "";
    
        /* 	design the inner-ring */
        width: 50%;
        height: 50%;
        border: 3.3px solid #eee;
        border-radius: 50%;
        position: absolute;
    }
    
    .light {
        /* 	design the vertical light */
        height: 30%;
        width: 3.3px;
        background: #eee;
        border-radius: 10px;
    
        /* 	position the light correctly */
        position: absolute;
        top: 6.7px;
    
        /* 	required to give white-space to inner-ring */
        box-shadow: 0 0 0 3.3px #0f0e0e;
    }
    
    .button:hover {
        cursor: pointer;
    }
    
    .button:active {
        box-shadow: 0 0 10px 0px #888 inset;
    }
    
    .button:active .light {
        background: rgb(232, 6, 32);
    }
    
    .button:active::before {
        border-color: rgb(240, 11, 11);
    }
    
    
 .grid{
    margin-top: 40px;
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100px;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(100px, auto) repeat(5, 100px);
    grid-gap: 10px;
    animation: 2s ease-in 0s 1  buttonsGoDown;

 }

  

 .grid button{
    border-radius: 30px;
    background-color: rgb(74, 248, 74);
    font-size: 30px;
    opacity: 0;
    
    
    

    

   
 }
 .grid button:active {
        box-shadow: 0 0 20px 0px #888 inset;
        height: 95px;
        width: 95px;
        border-color: blue;
    }
    .grid .zero:active {
        box-shadow: 0 0 20px 0px #888 inset;
        height: 95px;
        width: 205px;
        border-color: blue;
        grid-column: span 2;
    }
    .zero{
       grid-column: span 2;
    }
   .grid .subtraction{
        font-size: 60px;
        
    }

